<!DOCTYPE html>
<html lang="en"></html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<title>Razor Fun</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/style.css">
	</head>
    <body>
        <h1>HERE ARE SOME DELICIOUS FOODS!</h1>

        @{
            var FoodList = new List<string>
            {
                "Apples",
                "Bananas",
                "Celery",
                "Doughnut",
                "Eggplant",
                "Fondue",
             };

            foreach(var food in FoodList)
            {
                <div class="foodlist">
                    @if(food[0]=='C')
                    {
                        <p style="color: red;">@food</p>
                    }
                    else
                    {
                        <p>@food</p>;
                    }
                </div>
                
            }
        }
    </body>
</html>